# Python
**/__pycache__/
*.py[cod]
.venv/
*.pyc

# C++ / CMake
core/build/
cmake-build-*/
CMakeUserPresets.json

# Native extension artifacts
*.pyd
*.so
*.dll
*.exp
*.lib
*.pdb
*.obj
*.ilk

# Local binaries
bin/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
